.site {
  &-heading {
    color: #666262;
    font: 600 22px/24px Novecentowide;
    margin-bottom: 20px;
  }
  &-info-heading {
    color: #9b9999;
    font: 400 16px/24px Helvetica Neue;
    width: 760px;
  }
}